@{
    ViewData["Title"] = "About Us Page";
}

<h2> About Us </h2>
<p>
    In Spoons World you can find all kind of spoon with great quality Spoon World established in 2001 and we become No.1 spoon seller in the world in just five year.
    Spoon World established in 2001
    Eating from a spoon encourages healthy mealtime habits with the family like sitting at the table, talking and making eye contact during a meal.
</p>
<h3>
    Headquarter
</h3>
<p>
    Toronto, Canada
</p>
<h3>Staff</h3>
<p>
    Jeel Patel CEO
    A B Patel President
</p>