@{
    ViewData["Title"] = "About Us Page";
}

<h2> About Us </h2>
<p>
    In Spoons World you can find all kind of spoon with great quality Spoon World established in 2001 and we become No.1 spoon seller in the world in just five year.
    Spoon World established in 2001. we provide great customer service with our company.
    Eating from a spoon encourages healthy mealtime habits with the family like sitting at the table, talking and making eye contact during a meal.

</p>
<h3>
    Headquarter
</h3>
<p>
    Toronto, Canada
</p>
<img src="~/Images/6.jpg" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3>Staff</h3>
<p>
    Jeel Patel CEO<br />
    A B Patel President
</p>
<h3>
    Contact Us

</h3>
<p>
    Email Id: Spoonsworld@gmail.com</br>
    Phone No: +1 123 4567 8901
    </p>