@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SpoonsWorld</h1>
    <img src="~/Images/1.jpg" />
    <h4>Stainless Steel</h4>
    <img src="~/Images/2.jpg" />
    <h4>Plastic</h4>
    <img src="~/Images/3.jpg" />
    <h4>Wooden</h4>
    <img src="~/Images/4.jpg" />
    <h4>Ceramic</h4>

</div>
