@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SpoonsWorld</h1>
    <img src="~/Images/1.jpg" />

    <img src="~/Images/2.jpg" />

    <img src="~/Images/3.jpg" />

    <img src="~/Images/4.jpg" />
    
</div>
